.jumbotron {
	background-image: url("img/digital.png");
	background-attachment: fixed;
	background-size: cover;
	background-position: 0 -100px;
	color: #eaeaea;
	overflow: hidden;
  text-align: center;
}

.jumbotron img {
	width: 200px;
	border: 5px solid #eaeaea;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

.jumbotron h1, .jumbotron p {
	text-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

/* about section */
.tm-about {
  padding-top: 80px;
  padding-bottom: 80px;
}
.tm-about img { padding-bottom: 16px; }
.tm-about .about-des {
background: #ffffff;
-webkit-box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.08);
        box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.08);
border-right: 4px solid #a4c639;
padding: 60px;
position: relative;
top: 70px;
}
.tm-about-h3 { padding-bottom: 20px; }
.tm-about .about-bottom-des {
background: #ffffff;
-webkit-box-shadow: 0 0 8px 0 rgba(50, 50, 50, 0.08);
        box-shadow: 0 0 8px 0 rgba(50, 50, 50, 0.08);
border-left: 4px solid #a4c639;
padding: 40px 20px 40px 20px;
position: relative;
top: 140px;
}
.tm-about .about-skills { padding-top: 40px; }
.about-skills .progress-bar-primary { background: #a4c639; }
.tm-about .about-skills .progress {
background: #f9f9f9;
-webkit-box-shadow: none;
        box-shadow: none;
height: 4px;
font-weight: bold;
border-radius: 30px;
}
.tm-about span { font-weight: bold; }
.tm-about .about-skills strong {
display: inline-block;
font-size: 16px;
padding-bottom: 4px;
}

.tm-bg-hasil1 {
  background-image: url("img/hasil1.png");
}

.tm-bg-hasil2{
  background-image: url("img/hasil2.png");
}

.tm-bg-aktivitas3 {
  background-image: url("img/olahraga.jpg");
}

.about{
  text-align: center;
}

.w3-green, .w3-hover-green:hover {
  color: #fff!important;
  background-color: #4CAF50!important;
  text-align: center;
}

.w3-blue, .w3-hover-blue:hover {
  color: #fff!important;
  background-color: #0f2ac4!important;
  text-align: center;
}

.w3-red, .w3-hover-red:hover {
  color: #fff!important;
  background-color: #cf190c!important;
  text-align: center;
}

.w3-yellow, .w3-hover-yellow:hover {
  color: #fff!important;
  background-color: #ffd900!important;
  text-align: center;
}
