html {
	position: relative;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

body {
	margin-bottom: 120px;
	margin-top: 30px;
}
.foto img {
    width: 250px;
    border: 5px solid #e0850c;
    text-align: center;
    border-radius: 50%;
    box-shadow: 1px 1px 10px rgba(32, 30, 5, 0.582);
}
.tengah{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.tengah-kata{
    text-align: center;
}
.footer {
    padding:40px 0;
    background-color:#ffffff;
    color:#4b4c4d;
}
  
.footer ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
    font-family: Bebasfont;
  }
  
  .footer li {
    padding:0 10px;
  }
  
  .footer ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer ul a:hover {
    opacity:1;
  }
  
  .footer .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer .social > a:hover {
    opacity:0.9;
  }
  
  .footer .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }
  #tmPortfolio {
    padding-top: 80px;
  }
  
.tm-portfolio-item {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
  }
  
.tm-portfolio-name {
    width: 330px;
    height: 220px;
    font-size: 2rem;
    padding: 70px 95px;
    display: flex;
    align-items: center;
    text-align: center;
  }
  
.tm-portfolio-description {
    width: calc(100% - 330px);
    padding: 20px 45px;
  }
  
.tm-portfolio-description h3 {
    margin-bottom: 20px;
  }
  
.tm-text-green {
    color: #98cb00;
  }
  
.tm-text-orange {
    color: #cc6733;
  }
  
.tm-text-blue {
    color: #3398cc;
  }
  
.tm-text-dark-gray {
    color: #676767;
  }
  
.tm-title-small {
    font-size: 1.3rem;
  }
  
p {
    line-height: 1.8;
  }
   
  .tm-bg-black-transparent {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .tm-bg-white-transparent {
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  .tm-bg-green {
    background-color: #98cb00;
  }
  
  .tm-bg-orange {
    background-color: #cc6733;
  }
  
  .tm-bg-blue {
    background-color: #3398cc;
  }
  
  .tm-bg-dark-gray {
    background-color: #676767;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
.tm-bg-aktivitas1 {
  background-image: url("img/main.jpg");
  background-repeat: no-repeat;
}

.tm-bg-aktivitas2 {
  background-image: url("img/nonton.jpg");
  background-repeat: no-repeat;
}

.tm-bg-aktivitas3 {
  background-image: url("img/olahraga.jpg");
  background-repeat: no-repeat;
}

.tm-bg-aktivitas4 {
  background-image: url("img/organisasi.jpg");
  background-repeat: no-repeat;
}
table{
margin-left: 30px;
}

.jumbotron {
	background-image: url("img/digital.png");
	background-attachment: fixed;
	background-size: cover;
	background-position: 0 -100px;
	color: #eaeaea;
	overflow: hidden;
  text-align: center;
}

.jumbotron img {
	width: 200px;
	border: 5px solid #eaeaea;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

.jumbotron h1, .jumbotron p {
	text-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

/* about section */
.tm-about {
  padding-top: 80px;
  padding-bottom: 80px;
}
.tm-about img { padding-bottom: 16px; }
.tm-about .about-des {
background: #ffffff;
-webkit-box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.08);
        box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.08);
border-right: 4px solid #a4c639;
padding: 60px;
position: relative;
top: 70px;
}
.tm-about-h3 { padding-bottom: 20px; }
.tm-about .about-bottom-des {
background: #ffffff;
-webkit-box-shadow: 0 0 8px 0 rgba(50, 50, 50, 0.08);
        box-shadow: 0 0 8px 0 rgba(50, 50, 50, 0.08);
border-left: 4px solid #a4c639;
padding: 40px 20px 40px 20px;
position: relative;
top: 140px;
}
.tm-about .about-skills { padding-top: 40px; }
.about-skills .progress-bar-primary { background: #a4c639; }
.tm-about .about-skills .progress {
background: #f9f9f9;
-webkit-box-shadow: none;
        box-shadow: none;
height: 4px;
font-weight: bold;
border-radius: 30px;
}
.tm-about span { font-weight: bold; }
.tm-about .about-skills strong {
display: inline-block;
font-size: 16px;
padding-bottom: 4px;
}

.tm-bg-hasil1 {
  background-image: url("img/hasil1.png");
}

.tm-bg-hasil2{
  background-image: url("img/hasil2.png");
}

.tm-bg-aktivitas3 {
  background-image: url("img/olahraga.jpg");
}

.about{
  text-align: center;
}

.w3-green, .w3-hover-green:hover {
  color: #fff!important;
  background-color: #4CAF50!important;
  text-align: center;
}

.w3-blue, .w3-hover-blue:hover {
  color: #fff!important;
  background-color: #0f2ac4!important;
  text-align: center;
}

.w3-red, .w3-hover-red:hover {
  color: #fff!important;
  background-color: #cf190c!important;
  text-align: center;
}

.w3-yellow, .w3-hover-yellow:hover {
  color: #fff!important;
  background-color: #ffd900!important;
  text-align: center;
}
